

.content {
    padding: 4rem;
    width: 100%;
    background-color: #e7fafa;
    transition: margin-left 0.5s ease;
    &Active {
       margin-left: calc(1vw*var(--landscape-width));
    }

    h1 {
        font-family: 'Roboto';
        font-size: 30px;
        font-weight: 600;
    }

    p {
        margin-top: 1rem;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
    }
}
