
.sidebar {
    padding: 2rem;
    position: absolute;
    width: calc(1vw * var(--landscape-width)); 
    height: 100%;
    background-color: #abddeb;
    transition: transform 0.5s ease;
    transform: translateX(-100%);

    &Active {
        transform: translateX(0);
    }
    
    &Button {
        top: 20px;
        position: absolute;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #abddeb;
        border-radius: 10px;
        transform: translateX(calc(15.5vw)) rotate(45deg);
        border-style: solid;
        border: none;
        i {
            color:#fff;
            transform: rotate(-45deg) translate(20px, 0);
        } 
    } 
}


.header {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 30px;
}

.menu {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    &Item {
        margin-top: 1rem;
        color: #fff;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 20px;
        text-decoration: underline;
    }
}